{% extends 'inscription/base.html' %}
{% block content %}
<div class="d-flex flex-column" style="width:65%;">

    <div>
        <h1 class="text-center mb-3">Suivre d'autres utilisateurs</h1>
        <div>
            <form class="text-center mb-5" method="post">

                {{ form }}
                {% csrf_token %}

                <button type="submit" class="btn btn-primary mx-3 mb-1">Envoyer</button>

            </form>
            <p>{{ message }}</p>
        </div>
    </div>
    <div>
        <h1 class="text-center">Abonnement</h1>
        <table class="table table-striped border">
            {% for i in follow %}
             <tr>
                  <td>{{ i.followed_user }}</td>
                  <td class="text-end">
                      <form action="{% url 'abonnements' %}" method="post" >
                          <input type="hidden" value="{{ i.pk }}" name="pk">
                          <button type="submit" class=" btn-danger mx-3 ">Désabonner</button>
                          {% csrf_token %}
                      </form>
                  </td>


              </tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <h1 class="text-center">Abonnés</h1>
          <table class="table table-striped border">
              {% for i in followed_by %}
              <tr>
                  <td>{{ i.user }}</td>
              </tr>
              {% endfor %}
          </table>
    </div>


</div>
{% endblock %}