{% extends 'inscription/base.html' %}
{% block content %}
<div class="d-flex flex-column">
    <h1 class="text-center mb-5">Créer une critique</h1>

    <form method="post" enctype="multipart/form-data" >>
        <div class="border p-3">
        {{ ticket_form.as_p }}
        {% csrf_token %}
        </div>

        <div class="border p-3">
            <h1>critique</h1>
        {{ review_form.as_p }}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary mt-3" >Envoyer</button>
        </div>
    </form>

</div>
{% endblock %}


