{% extends 'inscription/base.html' %}
{% block content %}

<div class="d-flex flex-column" style="width:65%;">
    <div class="text-center">
        <a class="btn btn-primary me-5 " href={% url 'create_ticket' %}>Demander une critique</a>
        <a class="btn btn-primary ms-5" href={% url 'create_review' %}>Créer une critique</a>
    </div>
    <div class="mt-3">
        {% for post in page_obj %}
        {% if post.content_type == 'TICKET' %}
        <div class="border  ">
            <div>
                <p class="d-inline-flex">{{ post.user }} a demandé une critique</p>
                <p class="d-inline-flex float-end mt-2 me-4">{% now "H:i, d M Y " %}</p>
            </div>

            <p>{{ post.title }}</p>
            <p>{{ post.description }}</p>

            {% if post.image %}
            <img class="ps-4 pb-2" style="width:12%;" src="{{ post.image.url }}">
            {% endif %}

            {% if not ticket_answer%}
            {% if post.user != request.user %}
            <form action="{% url 'create_review_answer' %}" method="POST">
                <div class="text-end me-4 mb-4 ">
                    <input type="hidden" value="{{ post.pk }}" name="pk_mod_ticket">
                    <button type="submit" class=" btn btn-primary rounded-3">Créer une critique</button>
                </div>
                {% csrf_token %}
            </form>
            {% endif %}
            {% endif %}


        </div>
        {% elif post.content_type == 'REVIEW' %}
        <div class="d-flex flex-column  border my-2 ">
            <div>
                <p class="d-inline-flex">Vous avez publié une critique</p>
                <p class="d-inline-flex float-end mt-2 me-4">{% now "H:i, d M Y " %}</p>
            </div>
            <div>

                <h4 class="d-inline-flex">{{ post.headline }} - </h4>

                {% load star_filter %}
                {% for star in 5|times %}

                {% if star|add:"1" <= post.rating %}

                <h4 class="d-inline-flex">&#9733;</h4>
                {% else %}
                <h4 class="d-inline-flex">&#9734;</h4>

                {% endif %}
                {% endfor %}


                <p class=""> {{ post.body }} </p>
            </div>
            <div class="align-self-center border  my-4" style="width:96%;">
                <p>Ticket - {{ post.ticket.user }}</p>
                <p>{{ post.ticket.title }}</p>
                {% if post.ticket.image %}
                <img class="ps-2 pb-2" style="width:12%;" src="{{ post.ticket.image.url }}">
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <span>
        {% if page_obj.has_previous %}
            <a href="?page=1">« première</a>
            <a href="?page={{ page_obj.previous_page_number }}">précédente</a>
        {% endif %}

        <span>
            Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}.

        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">suivante</a>

            <a href="?page={{ page_obj.paginator.num_pages }}">dernière »</a>
        {% endif %}
    </span>

</div>


{% endblock %}
