{% extends 'inscription/base.html' %}
{% block content %}
<div class="d-flex flex-column">
<h1 class="mb-5 text-center">Inscrivez-vous</h1>

{% if form.errors %}
        {{ form.errors }}
    {% endif %}
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <div class="text-end">
        <a type="submit" class="btn btn-primary mt-3" href="{% url 'accueil' %}" >Retourner</a>
        <button type="submit" class="btn btn-primary mt-3" >S’inscrire</button>
        </div>
    </form>

</div>
{% endblock %}
