{% extends 'inscription/base.html' %}
{% block content %}

<div class="d-flex flex-column" style="width:65%;">
    <h1 class="text-center">Vo posts </h1>
    {% for post in page_obj %}
    {% if post.content_type == 'TICKET' %}

    <div class="border my-2">
        <div>
            <p class="d-inline-flex">Vous avez publié une critique</p>
            <p class="d-inline-flex float-end mt-2 me-4">{% now "H:i, d M Y " %}</p>
        </div>
        <p>{{ post.title }}</p>

        {% if post.image %}
        <img class="ps-2 pb-2" src="{{ post.image.url }}" style="width:12%;">
        {% endif %}
        <div class="d-flex justify-content-end">
            <form action="{% url 'my_posts' %}" class="pe-2" method="post">
                <input type="hidden" value="{{ post.pk }}" name="pk_modif_ticket">
                <button type="submit" class=" btn btn-primary mt-3  ">Modifer</button>
                {% csrf_token %}
            </form>
            <form action="{% url 'my_posts' %}" method="post">
                <input type="hidden" value="{{ post.pk }}" name="pk_delete_ticket">
                <button type="submit" class=" btn btn-primary mt-3  ">Supprimer</button>
                {% csrf_token %}
            </form>
        </div>
    </div>
    {% elif post.content_type == 'REVIEW' %}

    <div class="d-flex flex-column  border my-2">
        <div>
            <p class="d-inline-flex">Vous avez publié une critique</p>
            <p class="d-inline-flex float-end mt-2 me-4">{% now "H:i, d M Y " %}</p>
        </div>
        <div>

            <div>

                <h4 class="d-inline-flex">{{ post.headline }} - </h4>
                {% load star_filter %}
                {% for star in 5|times %}

                {% if star|add:"1" <= post.rating %}

                <h4 class="d-inline-flex">&#9733;</h4>
                {% else %}
                <h4 class="d-inline-flex">&#9734;</h4>

                {% endif %}
                {% endfor %}
                <p class=""> {{ post.body }} </p>
            </div>
            <div class="align-self-center border ms-4 my-4" style="width:96%;">
                <p>Ticket - {{ post.ticket.user }}</p>
                <p>{{ post.ticket.title }}</p>
                {% if post.ticket.image %}
                <img class="ps-2 pb-2" style="width:12%;" src="{{ post.ticket.image.url }}">
                {% endif %}

            </div>
            <div class="text-end">
                <div class="d-flex justify-content-end">
                    <form action="{% url 'my_posts' %}" class="pe-2" method="post">
                        <input type="hidden" value="{{ post.pk }}" name="pk_modif_review">
                        <button type="submit" class=" btn btn-primary mt-3  ">Modifer</button>
                        {% csrf_token %}
                    </form>
                    <form action="{% url 'my_posts' %}" method="post">
                        <input type="hidden" value="{{ post.pk }}" name="pk_delete_review">
                        <button type="submit" class=" btn btn-primary mt-3  ">Supprimer</button>
                        {% csrf_token %}
                    </form>
                </div>
            </div>

            {% endif %}
            {% endfor %}


            <span>
        {% if page_obj.has_previous %}
            <a href="?page=1">« première</a>
            <a href="?page={{ page_obj.previous_page_number }}">précédente</a>
        {% endif %}

        <span>
            Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}.

        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">suivante</a>

            <a href="?page={{ page_obj.paginator.num_pages }}">dernière »</a>
        {% endif %}
    </span>

        </div>


        {% endblock %}
